body {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}

.app {
    margin: 20px auto;
    background:linear-gradient(rgb(5, 83, 186),rgb(44, 141, 189));
    max-width: 500px;
    padding-inline: 30px;
    padding-block: 10px;
    border-radius: 20px
}

.app h1 {
    text-align: center;
    font-weight: 800;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-right: 25px;
}

.col {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}

.btn {
    font-family: "Science Gothic", sans-serif;
    height: 30px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
    transition: all 0.3s;
    font-weight: bold;
}


.btn:hover:not([disabled]) {
    background: rgb(130, 128, 128);
}

.btn:disabled {
    cursor: no-drop;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.next-btn {
    font-family: "Science Gothic", sans-serif;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background: rgb(28, 3, 174);
}

.next-btn:hover {

}

.correct {
    background: rgb(11, 132, 2);
}

.incorrect {
    background: rgb(207, 6, 6);
}
